{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
     .navbar {
            background-color: #333;
            overflow: hidden;
        }
        .navbar a {
            float: right;
            display: block;
            color: #B2BEB5;
            text-align: center;
            padding: 10px 10px;
            text-decoration: none;
        }
        .navbar a:hover {
            background-color: #ddd;
            color: black;
        }
        h4 {
            font-family: Roboto;
           }
        h4{
        font-family: Roboto;
        padding:10px;
        text-align:center;
        font-family:normal;
        }
        h5{
        text-align:center;
        font-family:normal;
        }
        p {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



    </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Logo Padding</title>
</head>
<body>
<div class="navbar ">
  <div class="container">
    <div class="row">
      <div class="col-12 ">
        <!-- Add padding to the logo -->
        <img src="{%static 'images/logo.svg'%}" alt="Logo" class="img-fluid p-3">
      </div>
    </div>
  </div>


    <a href="#about">ABOUT</a>
    <a href="#work">WORK</a>
    <a href="#blog">BLOG</a>
    <a href="#jobs">JOBS</a>
    <a href="#contact">CONTACT</a>
</div>
<section class="bg-light p-5 bg-dark">
    <div class="container">
        <div class="row">
          <h4 style="color:LightYellow;">----UX/UI design for embedded retail software application</h4>
          <h1 style="color:white;">The fully integrated petrol station <br>experiance</h1>
        </div>
    </div>
</section>
<section class="row">
            <img src="{%static 'images/socar.jpg'%}" class="img-fluid" alt="Responsive image" width="100%" height="5%">
</section>
<h2 class="text-center">ON SITE USER RESEARCH IN SWITZERLAND</h2>
<h4>Our UX agency's research team spent a week in Switzerland to perform user <br>research in petrol stations around Zurich. We met experienced shift <br>supervisors, station managers and people in training. <br><br>We applied a mix of user research methods, both quantitative and qualitative, <br>to create a complete picture of what needs to change. The UX<br> research was carried out in German, one of the UX design agency’s language <br>proficiencies.</h4>
<section class="p-5">
    <div class="container">
        <h1 class="text-center"></h1>
        <div class="row">

            <div class="col-md-4">
                <div class=" text-center p-3" >
                    <img class="card-img-top" src="{%static 'images/s3.jpg'%}" alt="Card image cap">
                    </div></div>


            <div class="col-md-4">
                <div class=" text-center p-3" >
                    <img class="card-img-top" src="{%static 'images/s1.jpg'%}" alt="Card image cap">
                    </div></div>

            <div class="col-md-4">
                <div class=" text-center p-3" >
                    <img class="card-img-top" src="{%static 'images/s2.jpg'%}" alt="Card image cap">
                    </div></div>
        </div>
    </div>
</section>

    <h2 class="text-center">COMPARATIVE ANALYSIS OF POS USER FLOWS</h2>
    <h4>We benchmarked the user experience of other POS systems. In this detailed <br>analysis we compared and contrasted solutions under the light of the <br>scenarios that we uncovered in the user research.<br><br>

This systematic review of competitor user experience designs revealed <br>a host of do’s and don’ts applicable to the project. It helped us narrow down<br> the subsequent UX design approach.</h4>
            <img src="{%static 'images/s5.jpg'%}" class="img-fluid" alt="Responsive image" width="100%" height="5%"><br><br><br><br><br><br>

<h2 class="text-center"><b>PROTOTYPING AND TESTING SOLUTIONS FOR POS <br>DESIGN</b></h2>
<h5>We created prototypes for different approaches to the user experience. Each <br>was a combination of interface layouts combined with a treatment of the <br>user flows.
A systematic comparison of the benefits and down sides of each approach<br> was presented to the customer's project team and together we chose the<br> ones to be tested with users. This iterative UX design process gave us focus <br>and it facilitated fast delivery. In just 6 weeks we had completed the UX<br> solution for the POS application and development started.
</h5>
<br>
<p>
<img src="{%static 'images/s6demmy.jpg'%}" class="center" alt="Responsive image" width="100%" height="10%"><br>
<img src="{%static 'images/s7.jpg'%}" class="img-fluid" alt="Responsive image" width="100%" height="5%">
</p>


<h4 class="text-center"><b>SUPPORT FOR DEVELOPMENT</b></h4>
<h5>Embedded systems come with specific hardware capabilities and these <br>were considered in the UX/UI design process. The UI design reflects the <br>looks of the machine and it takes stock of the display's specs.<br><br>

We made it easy for developers to implement the UI design of the self<br> checkout terminal by preparing a design system. Now they use the design<br> system to maintain and update the system independently.</h5>

<section class="p-5">
    <div class="container">
        <h1 class="text-center"></h1>
        <div class="row">

            <div class="col-md-6">
                <div class=" text-center p-3" >
                    <img class="card-img-top" src="{%static 'images/s9.jpg'%}" alt="Card image cap">
                    </div></div>

            <div class="col-md-6">
                <div class=" text-center p-3" >
                    <img class="card-img-top" src="{%static 'images/s10.jpg'%}" alt="Card image cap">
                    </div></div>
        </div>
        </div>
</section>


            <br><br>

<img src="{%static 'images/s8.jpg'%}" class="img-fluid" alt="Responsive image" width="100%" height="15%">
            <br><br>
            <h2 class="text-center"><b>THE CAR PLAY APP COMPLETES THE USER <br>EXPERIENCE</b></h2>
        <h5>To round up the customer experience we have designed a car play <br>application. It is a native app for cars and it automatically detects when you <br>pull into a gas station. It also knows the pump you stopped at. All you need <br>to do is fuel up and drive away.<br>

The car play app integrates discovery of gas stations, navigation and fueling.<br> It reduces the load on the shop POS system and it makes it convenient for <br>users to fuel up.</h5>
        <img src="{%static 'images/s11.jpg'%}"  width="100%" height="15%">
<br>
<h2 class="text-center"><b>CAR PLAY APP CREATED IN TWO DESIGN SPRINTS</b></h2>
<h5>Car play apps work both with voice and with touch control and the UX/UI<br> design must be adapted to a driving scenario. When designed correctly, car <br>play makes it easier and safer to use an app.<br><br>

The car play user experience is designed in accordance with the standards<br> for car play apps and automotive regulations. We had prior experience with <br>UI design software such as Kanzi so we were able to deliver the application <br>in just two design sprints.</h5>
<section class="p-5">
    <div class="container">
        <h1 class="text-center"></h1>
        <div class="row">

<div class="col-md-6">
                <div class=" text-center p-3" >
                    <img class="card-img-top" src="{%static 'images/s16.jpg'%}" alt="Card image cap">
                    </div></div>

            <div class="col-md-6">
                <div class=" text-center p-3" >
                    <img class="card-img-top" src="{%static 'images/s12.jpg'%}" alt="Card image cap">
                    </div></div>
<div class="col-md-6">
                <div class=" text-center p-3" >
                    <img class="card-img-top" src="{%static 'images/s13.jpg'%}" alt="Card image cap">
                    </div></div>

            <div class="col-md-6">
                <div class=" text-center p-3" >
                    <img class="card-img-top" src="{%static 'images/s15.jpg'%}" alt="Card image cap">
                    </div></div>

            </div>
        </div>
</section>

<img src="{%static 'images/s17.jpg'%}" class="img-fluid" alt="Responsive image" width="100%" height="15%">
<h2 class="text-center"><b>MOBILE APP CONCEPT DESIGN</b></h2>
<h5>Building on all the previous design work, we performed two more UX/UI design<br> sprints to propose a forward looking user experience for a retail<br> mobile app. It brings together all elements of the customer journey.<br><br>

The mobile app is a critical component in loyalty programs and in the retail<br> data model. For the customer it opens up new ways to make the most of <br>their repeated use of the gas stations. The UI design reflects the visionary n<br>ature of the app.</h5>

<img src="{%static 'images/s18.jpg'%}" class="img-fluid" alt="Responsive image" width="100%" height="15%">
<br><br>


<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->

    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Creative Navy
          </h6>
          <p>
            Creative Navy is a top UX/UI Design Agency in London. We design mobile experiences, web interfaces and GUI for embedded devices.
          </p>
        </div>
        <!-- Grid column -->


        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Resarch user needs</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Prototype an idea</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Design a new product</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Improve a digital product</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            hi@creativenavy.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © Creative Navy LTD 2023

  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

</body>
</html>
